/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #FFFFFF !important;
	background-color: #0072A0;
	padding: 10px;
}
.right {
	text-align: right;
  width: 100%;
}
.left {
	text-align: left;
  width: 100%;
  Margin-right: 5%;
  padding-top: 50px;
}
.img-alternate {
	float: left;
	Margin-right: 5%;
	margin-left: 5%;
}
p{
	font-family: "Bitter", serif;
	font-size: 20px;
	font-weight: 400;
}
strong{
	font-family: "Bitter", serif;
	font-size: 20px;
	font-weight: 600;
	color: #134b5f
}
h1{
	font-size: 30px;
	font-family: "Oswald", sans-serif;
	color: #FFFFFF;
}
h2 {
	font-size: 70px;
	font-family: "Oswald", sans-serif;
	color: #FFFFFF;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 30px;
	font-family: "Oswald", sans-serif;
	color: #0072A0;
}
iframe{
	float: left;
	min-width: 30%;
}
img{
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .footer p {
 	background-color: skyblue;
 }
 #list {
 	padding-left: 10px;
 }
 img {
 	float: none;
 }
 iframe {
 	float: none;
 	width: 100% !important;
 }
}